create default
set default default tcp action filtered
set default default udp action filtered
set default default icmp action filtered
set default personality "Linux 3.0"
set default ethernet "Dell"
set default droprate in 0

clone CustomNodeProfile-0 default
set CustomNodeProfile-0 default tcp action closed
set CustomNodeProfile-0 default udp action closed
set CustomNodeProfile-0 default icmp action open
add CustomNodeProfile-0 udp port 161 "python /home/pherricoxide/Code/honeyd/scripts/WIP/ipp_udp_wrap.py /home/pherricoxide/.config/nova/config/haystackscripts/BasicWindowsConfiguration0"
set CustomNodeProfile-0 personality "Microsoft Windows Server 2003 SP1 or SP2"
set CustomNodeProfile-0 ethernet "Dell"
set CustomNodeProfile-0 droprate in 0
set CustomNodeProfile-0 ethernet "00:23:ae:0b:4e:f8"
bind 10.10.70.70 CustomNodeProfile-0


